.photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 284px);
    gap: 16px;
    justify-content: center;
    margin-bottom: 92px;
}

@media screen and (max-width: 1200px) {
    .photo-grid {
        grid-template-columns: repeat(3, 300px);
        grid-template-rows: repeat(auto-fit, 225px);
        gap: 14px;
    }
}

@media screen and (max-width: 930px) {
    .photo-grid {
        grid-template-columns: repeat(2, 352px);
        grid-template-rows: repeat(auto-fit, 264px);
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 720px) {
    .photo-grid {
        grid-template-columns: repeat(1, 288px);
        grid-template-rows: repeat(auto-fit, 216px);
        gap: 12px;
        margin-bottom: 64px;
    }
}


/* чтобы не съедало картинки */