.photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 284px);
    grid-template-rows: repeat(auto-fit, 213px);
    gap: 16px;
    justify-content: center;
}

@media screen and (max-width: 424px){
    .photo-grid {
      grid-template-columns: repeat(1, 288px);
      grid-template-rows: repeat(auto-fit, 216px);
      gap: 12px;
    }
}

@media screen and (min-width: 425px) and (max-width: 767px){
    .photo-grid {
      grid-template-columns: repeat(2, 352px);
      grid-template-rows: repeat(auto-fit, 264px);
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .photo-grid {
      grid-template-columns: repeat(3, 300px);
      grid-template-rows: repeat(auto-fit, 225px);
      gap: 14px;
    }
}

