.footer__author {
    max-width: 186px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: white;
    margin-right: 32px;
}

@media screen and (max-width: 700px) {
    .footer__author {
        margin: 48px 0 0 0;
    }
}