.footer__link {
    text-decoration: none;
    max-width: 106px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: white;
}

.footer__link:nth-child(2n) {
    margin: 0 18px 0;
}

@media screen and (max-width: 700px){
    .footer__link {
        font-size: 24px;
        line-height: 24px;
        margin-left: 0;
    }

    .footer__link:nth-child(2n) {
        margin: 32px 0 32px 0;
    }

}