.place__website {
    grid-area: place__website;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 456px;
}

@media screen and (max-width: 950px) {
    .place__website {
        max-width: 352px;
    }
}

@media screen and (max-width: 730px) {
    .place__website {
        max-width: 288px;
        margin-left: 16px;
    }
}